.faq-container {
    max-width: 600px; 
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 10px; 
}

.faq-question {
    background-color: #007bff; 
    color: rgb(46, 62, 237); 
    padding: 15px; 
    border-radius: 5px; 
}

.faq-answer {
    background-color: #bbd8f6; 
    border-left: 3px solid #077afe; 
}
